@import "tailwindcss";

@theme {
  --font-heading: "Fredoka", sans-serif;
  --font-accent: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-accent {
  font-family: var(--font-accent);
  font-style: italic;
}